.Button {
  position        : absolute;
  top             : 0;
  left            : 0;
  background-color: white;
  padding         : 10px 30px;
}

.card-selected {
  position: relative;
  background-color: #ffce29;
}

.test {
  border-bottom: 3px solid #ffce29;
}